# Python
__pycache__/
*.pyc

# Logs and temporary files
*.log
*.tmp
*.bak
.DS_Store
*~

# MOOSE / libMesh heavy outputs
*.e
*.e-s*
*.exo
*.exodus

# MOOSE checkpoints / restarts
*_cp/
*_out_cp/
*.cpr/
*.cpr

# Editors
.vscode/
.idea/
